@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Qingdao Tsingtao<br />
    <br />
    <abbr title="Phone">P:</abbr>
    - -
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">yuzhyn@163.com</a><br />
</address>