@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whale.Report</h1>
    <p class="lead">基于 ECharts 的简单图表系统</p>
    <p><a href="#" class="btn btn-primary btn-lg">开始使用 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>支持</h2>
        <p>
            😳 添加数据源<br />
            😳 添加数据集<br />
            😳 添加图表页<br />
            😳 添加数据集<br />
            😎 柱状图<br />
            😎 折线图<br />
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>限制</h2>
        <p>
            😱 图表点击<br />
            😱 图表钻取<br />
            😱 表格<br />
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NULL</h2>
        <p>完善中……</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>